<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	
	<session-factory>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!--  mapping class="com.massiverun.pojo.Test"/>
		<mapping class="com.massiverun.pojo.TestRole"/-->
		<mapping class="com.acya.user.pojo.User"/>
		<mapping class="com.acya.user.pojo.UserDetail"/>
		<mapping class="com.acya.user.pojo.UserAccount"/>
		<mapping class="com.acya.pojo.Address"/>
		<mapping class="com.acya.pojo.Material"/>
	</session-factory>
</hibernate-configuration>